{% extends 'Home.html' %}
{% load crispy_forms_tags %}
    {% block content_block %}
    {% if permission %}
    <style>
        body::-webkit-scrollbar{
            display: none;
        }
    </style>
    {% if kind == 'Item' or kind == 'Image' %}
    <script>
    async function submit(url) {
        await fetch(
            url
        , {
        method: "PUT",
        body: document.getElementById('id_image').files[0]
        }).then((res)=>{
        document.getElementById('id_image').value = ''
        document.getElementById('form_data').submit()
        })
        .catch(error => {
        console.log("Error: ", error);})
    }
    </script>
    {% else %}
    <script>
        function submit(params) {
        document.getElementById('form_data').submit()
        }
    </script>
    {% endif %}
    <h3 style="color: white; margin-left: 20px;">{{action}} {{kind}}</h3>
        <form method="post" style="color: white; margin-left: 50px; margin-right: 50px; max-width: 50%;"
        id="form_data"
        >
            {% csrf_token %}
            {% for form in forms %}
            {{ form | crispy }}
            {% endfor %}
        </form>
        <!-- very important!! do not put the url directly into the fetch as it fails to upload the image -->
        <button onclick="submit('{{url}}')" style="border: 0rem; border-radius: 0.2rem; margin: 0.7rem 0rem 1rem 3rem">submit</button>
        {% else %}
        <h3 style="color: white; margin-left: 1rem;">Permission denied</h3>
        {% endif %}
    {% endblock %}