    {% extends 'Home.html' %}
    {% load static %}
    {% block content_block %}
    <script>
        window.onload = (e)=>{
            document.getElementById('img').src = "{% static 'data/12345' %}".replace('12345', '{{obj_dict.ID}}.png')
        }
    </script>
    <img src="" alt='' id="img"
    style="float: right; margin-right: 30px; height: 400px;">
    <h3 style="color: white; margin-left: 20px;">Full details</h3>
    <br>
    <div style="margin-left: 30px;">
    {% for key,value in obj_dict.items %}
    {% if key == 'Categories' %}
    <p style="color:white; display: inline;">Categories:</p>
    {% for item in obj_dict.Categories %}
    <a href="{% url 'CategoryList' kind='Category' category=item.category %}">{{item.category}}</a>
    <a href="{% url 'Delete' kind='Category' pk=item.pk%}">(remove)</a>
    {% endfor %}
    {% else %}
    <p style="color:white">{{key}} : {{value}}</p>
    {% endif %}
    {% endfor %}
    </div>
    {% endblock %}