    {% extends 'Home.html' %}
    {% load static %}
    {% block content_block %}
    <img src="{{obj_dict.Picture}}" alt='' id="img"
    style="float: right; margin-right: 30px; max-height: 25rem; max-width: 25rem;">
    <h3 style="color: white; margin-left: 20px;">Full details</h3>
    <br>
    <div style="margin-left: 30px;">
    {% for key,value in obj_dict.items %}
    {% if key == 'Categories' %}
    <p style="color:white; display: inline;">Categories:</p>
    {% for item in obj_dict.Categories %}
    <a href="{% url 'CategoryList' kind='Category' category=item.category %}">{{item.category}}</a>
    <a href="{% url 'Delete' kind='Category' pk=item.pk%}">(remove)</a>
    {% endfor %}
    {% else %}
    {% if key != 'Picture' and key != 'sitems' %}
    <p style="color:white; margin-right: 0rem;">{{key}} : {{value}}</p>
    {% else %}
    {% if key == 'sitems' %}
    <h5 style="color: white;"> Item list: </h5>
    <ol style="list-style-position: inside; padding-right: 30px;">
    {% for item in obj_dict.sitems %}
        <li style="color: white;border-bottom:1px solid gray;">
            {{item}}
            <a href="{% url 'Full' kind='Item' pk=item.pk %}" style="float: right; margin-left: 15px; margin-right: 10px;">full details</a>
        </li>
    {% endfor %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    </div>
    {% endblock %}