{% extends 'Home.html' %}
{% block content_block %}
    <script>
      function connect() {
        const urlParams = new URLSearchParams(window.location.search);
        const room = urlParams.get('room')
        const url = `ws://${window.location.host}/ws?room=${room}&user={{user}}`;
        document.querySelector('#room').innerHTML = `Welcome to ${room}`

        socketClient = new WebSocket(url);

        socketClient.onmessage = async (e) => {
          data = await JSON.parse(e.data);
          rootElem = document.getElementById("root");
          newElem = document.createElement("p");
          newElem.innerText = data.message;
        
          if (data.event_type == "info") {
            newElem.style.backgroundColor = "yellow";
          }

          rootElem.appendChild(newElem);
          window.scrollTo(0, document.body.scrollHeight);
      }
        document.getElementById("input").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("btn").click();
        }
        return;
    })}

      function send(data) {
        if(document.querySelector('#input').value !== ''){
        socketClient.send(JSON.stringify({ message: data }));
        document.querySelector('#input').value = ''
      }}

    var input = document.getElementById("input");
    input.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
    event.preventDefault();
    document.getElementById("btn").click();
  }
    })
    
      function disconnect(params) {
        socketClient.close()
      }
    </script>
  </head>
  <body onload="connect()" onunload="disconnect()">
    <h3 id="room" style="color: white;"></h3>

    <div id="root" style="color: white; margin-bottom: 4rem;"></div>

    <input id="input" style="position: fixed; bottom: 0; width: 90%; padding-bottom: 1rem;"/>
    <button onclick="send(document.querySelector('#input').value)" id="btn"
    style="position: fixed; bottom: 0; right:0; width: 10%; height: 2.8rem;"
    >Send</button>
  </body>
{% endblock %}